.about-upper-section {
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 150px;
}

.upper-left {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 35%;
    height: 100%;
}

.upper-left h1 {
    font-size: 35px;
    color: #373C7C;
    width: 45%;
}

.h1-gray {
    color: #4D59AA;
}

.upper-right {
    width: 65%;
    height: 100%;
}

.upper-right p {
    font-size: 20px;
    width: 85%;
    line-height: 2;
    font-family: 'Lato';
}

.hr-upper {
    align-self: center;
    margin-top: 50px;
    width: 90%;
    border: none;
    border-top: 2px solid #373C7C;
}   

.second-upper {
    padding-top: 60px;
    padding-left: 115px;
    padding-bottom: 0;
    width: 80%;
    height: auto;
}

.second-upper h1 {
    width: 25%;
    font-size: 40px;
    color: #373C7C;
}

.second-bottom {

    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -130px;      /* pull the whole block upwards */
    margin-right: 90px;     /* same as your paragraph margin */
    width: 100%;
}

.second-bottom p {
    line-height: 1.5;
    text-align: justify;
    margin-right: 90px;
    font-size: 20px;
    width: 60%;
    font-family: 'Lato';
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.second-bottom li {
  margin-right: 50px;  
  line-height: 1.5;
  text-align: justify;
  font-size: 20px;
  width: 60%;
  font-family: 'Lato'; 
  font-weight: 500;         
}

.third-upper {
    padding-top: 60px;
    padding-left: 115px;
    padding-bottom: 0;
    width: 80%;
    height: 160px;
}

.third-upper h1 {
    width: 30%;
    font-size: 50px;
    color: #373C7C;
}

.hr-bottom {
    align-self: center;
    width: 90%;
    border: none;
    margin-top: 30px;
    border-top: 2px solid #373C7C;
}   

/* Group photo styles */
.group-photo {
    margin-top: 80px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    filter: grayscale(80%) brightness(90%);
}

